name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore and Build
      run: |
        dotnet restore
        dotnet build --configuration Release --no-restore

    - name: Publish
      run: dotnet publish EncryptionApi/EncryptionApi.csproj -c Release -o ./publish

    - name: Zip artifact
      run: cd ./publish && zip -r ../deploy.zip .

    - name: Wait for AWS to be ready
      # Vi väntar 15 sekunder så AWS hinner indexera efter din Rebuild
      run: sleep 15

    - name: Deploy to EB
      uses: einaregilsson/beanstalk-deploy@v22
      with:
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        application_name: ExamProject
        environment_name: ExamProject-env-env
        version_label: "v${{ github.run_number }}-${{ github.run_id }}"
        region: eu-north-1
        deployment_package: deploy.zip
        # Dessa inställningar tvingar fram en uppladdning
        use_existing_version_if_available: false 
        wait_for_deployment: true
